{%extends "LoginLoginBundle:Default:index.html.twig"%}



{%block container %}
<div class="container">



    <h2>ID: {{ user.id }}  </h2>
    <h2>NAME: {{ user.name}}  </h2>
    <h2>PASSWORD: {{ user.password }}  </h2>
    <h2>EMAIL: {{ user.email }}  </h2>
    <h2>ADDRESS: {{ user.address }}  </h2>
    <h2>PHONE: {{ user.phone }}  </h2>
    {#{% include "LoginLoginBundle:Default:table.html.twig"%}#}
</div>

{% endblock %}