{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}ElectroZone | MyOrders{% endblock %}</title></head>
{% endblock %}
{% block body %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr class="bg-success">
                            <th>Name</th>
                            <th>Product</th>
                            <th>Date</th>
                            <th>Address</th>
                            <th>Amount</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders  %}
                            <tr>
                                <td> {{ order.name }} </td>
                                <td>{{ order.product.title }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.Address}}</td>
                                <td>{{ order.amount}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

{% endblock %}