{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}ElectroZone | MyOrders{% endblock %}</title></head>
{% endblock %}
{% block body %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Мои заказы</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for order in orders  %}
                    <div class="col-md-3">
                        <b>Итого:</b> {{ order.total }}
                    </div>
                    <div class="col-md-3">
                        <b>Адрес:</b> {{ order.address }}
                    </div>
                    <div class="col-md-3">
                        <b>Дата:</b> {{ order.date|date('Y-m-d') }}
                    </div>
                    <div class="col-md-3">
                        <b>Имя:</b> {{ order.name }}
                    </div>
                    <div class="col-md-3">
                        <b>Статус:</b> {{ order.status }}
                    </div>
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr class="bg-success">
                            <th>Наименование</th>
                            <th>Количество</th>
                            <th>Цена</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for orderItem in order.orderItems  %}

                            <tr>
                                <td>{{ orderItem.products.title }}</td>
                                <td>{{ orderItem.amount }}</td>
                                <td>{{ orderItem.products.cost }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

{% endblock %}