{% extends 'ShopBundle:Default:index.html.twig' %}
{% block body %}
    {#{% include 'ShopBundle:Default:breadcrumbs.html.twig' %}#}
    <div class="slider-area">
        <!-- Slider -->
        <div class="block-slider block-slider4">
            <ul class="" id="bxslider-home4">
                {% if vm.slider %}
                    {% for slide in vm.slider %}
                        <li>
                            {% if slide.image|length != 0 %}
                                <img src="{{ slide.image.path }}" alt="">
                            {% else %}
                                <img src="/img/no-image.png" alt="">
                            {% endif %}
                            <div class="caption-group">
                                <h2 class="caption title">
                                    {{ slide.name }}
                                </h2>
                                <h4 class="caption subtitle animated fadeInRight">
                                    {{ slide.description | raw }}
                                </h4>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- End slider area -->

    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>30 Days return</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Free shipping</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Secure payments</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>New products</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->

    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Latest Products</h2>
                        <div class="product-carousel">
                            {% if vm.latest %}
                                {% for latest in vm.latest %}
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            {% if latest.images|length != 0 %}
                                                <img src="{{ latest.images[0].path }}" alt="">
                                            {% else %}
                                                <img src="/img/no-image.png" alt="">
                                            {% endif %}
                                            <div class="product-hover">
                                                <a href="#" data-product_id="{{ latest.id }}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>

                                                <a href="{{ path('products_show', { 'slug2': latest.category.slug, 'slug': latest.slug }) }}"
                                                   class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>

                                        <h2>
                                            <a href="{{ path('products_show',
                                            { 'slug2': latest.category.slug, 'slug': latest.slug }) }}"
                                            >{{ latest.title }}
                                            </a>
                                        </h2>
                                        <div class="product-carousel-price">
                                            <ins>${{ latest.cost }}</ins>
                                            <del>${{ latest.cost * 1.25 }}</del>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->

    {% if vm.brands %}
        <div class="brands-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="brand-wrapper">
                            <div class="brand-list">
                                {% for brand in vm.brands %}
                                    {% if brand.image %}
                                        <img src="{{ brand.image.path }}" alt="">
                                    {% else %}
                                        <img src="/img/no-image.png" alt="">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End brands area -->
    {% endif %}

    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Top Sellers</h2>
                        {% if vm.top %}
                            {% for top in vm.top %}
                                <div class="single-wid-product">
                                    <a href="{{ path('products_show', { 'slug2': top.category.slug, 'slug': top.slug }) }}">
                                        {% if top.images|length != 0 %}
                                            <img src="{{ top.images[0].path }}" alt="" class="product-thumb">
                                        {% else %}
                                            <img src="/img/no-image.png" alt="" class="product-thumb">
                                        {% endif %}
                                    </a>
                                    <h2>
                                        <a href="{{ path('products_show', { 'slug2': top.category.slug, 'slug': top.slug }) }}"
                                        >{{ top.title }}
                                        </a>
                                    </h2>
                                    <div class="product-wid-price">
                                        <ins>${{ top.cost }}</ins>
                                        <del>${{ top.cost * 1.25 }}</del>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Top New</h2>
                        {% if vm.new %}
                            {% for new in vm.new %}
                        <div class="single-wid-product">
                            <a href="{{ path('products_show', { 'slug2': new.category.slug, 'slug': new.slug }) }}">
                                {% if new.images|length != 0 %}
                                    <img src="{{ new.images[0].path }}" alt="" class="product-thumb">
                                {% else %}
                                    <img src="/img/no-image.png" alt="" class="product-thumb">
                                {% endif %}
                            </a>
                            <h2>
                                <a href="{{ path('products_show', { 'slug2': new.category.slug, 'slug': new.slug }) }}"
                                >{{ new.title }}
                                </a>
                            </h2>
                            <div class="product-wid-price">
                                <ins>${{ new.cost }}</ins>
                                <del>${{ new.cost * 1.25 }}</del>
                            </div>
                        </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End product widget area -->
{% endblock %}
