{% extends 'ShopBundle:Default:index.html.twig' %}
{% block body %}
{% set fullPrice = 0 %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Корзина</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {{ breadcrumbs() }}
            <div class="col-md-12">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

                {{ form_start(form) }}

                <div class="product-content-right">
                    <div class="woocommerce">
                        <table cellspacing="0" class="shop_table cart">
                            <thead>
                            <tr>
                                <th class="product-remove">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Продукт</th>
                                <th class="product-price">Цена</th>
                                <th class="product-quantity">Количество</th>
                                <th class="product-subtotal">Итого</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if cartItems|length > 0 %}
                                {% for cartItem in cartItems %}
                                    <tr class="cart_item">
                                        <td class="product-remove">
                                            <a title="Remove this item" class="remove" href="{{ path('cart_delete', { 'id': cartItem.id }) }}">×</a>
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href="{{ path('products_show', { 'slug2': cartItem.product.category.slug, 'slug': cartItem.product.slug }) }}">
                                                {% if cartItem.product.images|length != 0  %}
                                                    <img src="{{ cartItem.product.images[0].path }}" alt="">
                                                {% else %}
                                                    <img src="/img/no-image.png" alt="">
                                                {% endif %}
                                            </a>
                                        </td>

                                        <td class="product-name">
                                            <a href="{{ path('products_show', { 'slug2': cartItem.product.category.slug, 'slug': cartItem.product.slug }) }}">{{ cartItem.product.title }}</a>
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">{{ cartItem.product.cost }} руб.</span>
                                        </td>

                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input name="amount{{ cartItem.product.id }}" type="number" size="4" class="input-text qty text" title="Qty" value="{{ cartItem.amount }}" min="0" step="1">
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            {% set fullCost = cartItem.product.cost * cartItem.amount %}
                                            <span class="amount">{{ fullCost }} руб.</span>
                                        </td>
                                    </tr>
                                    {% set fullPrice = fullPrice + fullCost %}
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <td class="td-right" colspan="6">
                                    <strong>Итого: {{ fullPrice }} руб.</strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="actions" colspan="6">
                                    <input href="{{ path('Checkout_index') }}" type="submit" value="Заказать"
                                           name="proceed" class="checkout-button button alt wc-forward">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if cartItems|length > 0 %}
                    {{ form_widget(form) }}
                    {{ form_row(form._token) }}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}