{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}ElectroZone | Products{% endblock %}</title></head>
{% endblock %}
{% block body %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% if vm.category %}
                    {% for category in vm.category %}
                        <div class="col-md-3 col-sm-6">
                            <div class="single-shop-product">
                                <div class="product-upper">
                                    <a href="{{ path('products_category', { 'slug': category.slug }) }}">
                                        {% if category.image %}
                                            <img src="{{ category.image.path }}" alt="">
                                        {% else %}
                                            <img src="/img/no-image.png" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <h2>
                                    <a href="{{ path('products_category', { 'slug': category.slug }) }}">{{ category.title }}</a>
                                </h2>
                                <div class="product-carousel-price"></div>

                                <div class="product-option-shop"></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="navigation">
                        {{ knp_pagination_render(category) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
