{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}ElectroZone | MyWishlist{% endblock %}</title></head>
{% endblock %}
{% block body %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr class="bg-success">
                                <th>Картинка</th>
                                <th>Продукт</th>
                                <th>Примечание</th>
                                <th>Цена</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for wl in wishlist %}
                            <tr class="wishlist-item">
                                <td>
                                    <a href="{{ path('products_show', { 'slug2': wl.product.category.slug, 'slug': wl.product.slug }) }}">
                                        {% if wl.product.images|length != 0 %}
                                            <img width="50" src="{{ wl.product.images[0].path }}" alt="">
                                        {% else %}
                                            <img width="50" src="/img/no-image.png" alt="">
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ wl.product.title }}</td>
                                <td>{{ wl.product.description|raw }}</td>
                                <td>{{ wl.product.cost }}</td>
                                <td>
                                    <button id="scroll" data-product_id="{{ wl.product.id }}" class="add_to_cart_button" type="button">В корзину</button>
                                    <button id="dell" data-product_id="{{ wl.product.id }}" class="delete_from_wishlist_button" type="button">Удалить</button>
                                </td>
                                {% endfor %}
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}