<div class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-about-us">
                    <h2><span>Зеленый мир</span></h2>
                    <p>Вступайте в наши социальные сети!</p>
                    <div class="footer-social">
                        <a href="https:facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https:twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https:youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="https:vk.com" target="_blank"><i class="fa fa-vk"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Навигация пользователя </h2>
                    <ul>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="/profile">Мой аккаунт</a></li>
                            <li><a href="{{ path('shop_wishlist') }}">Мои мелания</a></li>
                            <li><a href="{{ path ('shop_myorders') }}">Мои заказы</a></li>
                        {% endif %}
                        <li><a href="{{ path('products_index') }}">Продукты</a></li>
                        <li><a href="{{ path('shop_contact') }}">Контакты</a></li>
                        <li><a href="{{ path('shop_about') }}">О магазине</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Категории</h2>
                    {% for category in getCategories() %}
                        <ul>
                            <li>
                                <a href="{{ path('products_category', { 'slug': category.slug }) }}">{{ category.title }}</a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>&copy;Все права сохранены.</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->