
<div class="header-area">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="user-menu">
                    <ul>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <li>

                          <a href="/profile">Welcome  {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                        </li>
                        <li><a href="{{ path('shop_wishlist') }}"><i class="fa fa-heart"></i> Wishlist</a></li>
                        <li><a href="{{ path('cart_index') }}"><i class="fa fa-user"></i> My Cart</a></li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                        {% else %}
                        <li>
                        <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                <span class="glyphicon glyphicon-star"></span>
                                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>

                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="{{ path('shop_homepage') }}"><img src="/img/logo.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="shopping-item">
                        <a href="{{ path('cart_index') }}">
                            Cart - $
                            <span class="cart-amunt">
                            {{ getCountCartItems().cash }}
                        </span>
                            <i class="fa fa-shopping-cart">
                            </i>
                            <span class="product-count">
                            {{ getCountCartItems().count }}
                        </span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get('_route') == 'shop_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('shop_homepage') }}">Home</a></li>
                    <li {% if app.request.attributes.get('_route') in ['products_index', 'products_category', 'products_show'] %}class="active"{% endif %}>
                        <a href="{{ path('products_index') }}">Products</a></li>
                    <li {% if app.request.attributes.get('_route') == 'shop_about' %}class="active"{% endif %}>
                        <a href="{{ path('shop_about') }}">About</a></li>
                    <li {% if app.request.attributes.get('_route') == 'shop_contact' %}class="active"{% endif %}>
                        <a href="{{ path('shop_contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->
