{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}ElectroZone | ContactUs{% endblock %}</title></head>
{% endblock %}
{% block body %}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {{ breadcrumbs() }}
            <div class="col-md-6">
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            <div class="col-xs-12 col-md-6">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

                {{ form_start(form) }}
                <p>Feedback</p>
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-xs-12 col-md-6">
                {% if page %}
                    {{ page.content | raw }}
                {% endif %}
                <div id = "map" class="col-xs-12 col-md-12"></div>
            </div>
            </div>
    </div>
</div>

    <script>
        // initMap() -map initialization
        function initMap() {
            // Coordinates of the center on the map.
            var centerLatLng = new google.maps.LatLng(53.710203, 23.804123);

            //map initialization options
            var mapOptions = {
                center: centerLatLng,
                zoom: 14
            };

            //Create a map inside the element #map
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var marker = new google.maps.Marker({
                position: centerLatLng,
                map: map,
                title: 'Self-discharge point'
            });
            var secondMarker = new google.maps.Marker({
                position: {lat:53.711585, lng:23.817268},
                map: map,
                title: 'ElectroZone'
            });
        }

        //Launching the full page loading function
        google.maps.event.addDomListener(window, "load", initMap);

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXWJ9bS2HW4i4pTB0YjyIO4qvv3zaChvM&callback=initMap"
            type="text/javascript"></script>

{% endblock %}
