{% extends "SonataUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block title %}Please Sign In{% endblock %}


{% block fos_user_content %}
    <div class="col-md-4"></div>

    <div class="col-md-4" style="width: 320px">

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <h2 class="form-signin-heading">Please sign in</h2>


        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email address" class="form-control"  required autofocus />
        </div>
        <br>

        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password"  required />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       id="remember_me"
                       name="_remember_me"
                       value="on" /> {{ 'security.login.remember_me'|trans }}
            </label>
            <a href="{{ path('fos_user_resetting_request') }}" class="pull-right">Forgot password?</a>
        </div>
        <input type="submit"
               id="_submit"
               name="_submit"
               value="{{ 'security.login.submit'|trans }}" />
    </form>
        <br>

    </div>

    <div class="col-md-4"></div>
{% endblock fos_user_content %}
